/*
 * Web API Swagger specification
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.aspose.cloud.cells.api;

import com.aspose.cloud.cells.client.ApiCallback;
import com.aspose.cloud.cells.client.ApiClient;
import com.aspose.cloud.cells.client.ApiException;
import com.aspose.cloud.cells.client.ApiResponse;
import com.aspose.cloud.cells.client.Configuration;
import com.aspose.cloud.cells.client.Pair;
import com.aspose.cloud.cells.client.ProgressRequestBody;
import com.aspose.cloud.cells.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.aspose.cloud.cells.model.CalculationOptions;
import com.aspose.cloud.cells.model.CellResponse;
import com.aspose.cloud.cells.model.CellsResponse;
import com.aspose.cloud.cells.model.ColumnResponse;
import com.aspose.cloud.cells.model.ColumnsResponse;
import java.io.File;
import com.aspose.cloud.cells.model.FontSetting;
import com.aspose.cloud.cells.model.RowResponse;
import com.aspose.cloud.cells.model.RowsResponse;
import com.aspose.cloud.cells.model.SaaSposeResponse;
import com.aspose.cloud.cells.model.Style;
import com.aspose.cloud.cells.model.StyleResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CellsApi {
    private ApiClient apiClient;

    public CellsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CellsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for cellsDeleteWorksheetColumns
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param columnIndex The column index. (required)
     * @param columns The columns. (required)
     * @param updateReference The update reference. (required)
     * @param folder The workbook folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsDeleteWorksheetColumnsCall(String name, String sheetName, Integer columnIndex, Integer columns, Boolean updateReference, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/columns/{columnIndex}"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()))
            .replaceAll("\\{" + "columnIndex" + "\\}", apiClient.escapeString(columnIndex.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (columns != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "columns", columns));
        if (updateReference != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "updateReference", updateReference));
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsDeleteWorksheetColumnsValidateBeforeCall(String name, String sheetName, Integer columnIndex, Integer columns, Boolean updateReference, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsDeleteWorksheetColumns(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsDeleteWorksheetColumns(Async)");
        }
        
        // verify the required parameter 'columnIndex' is set
        if (columnIndex == null) {
            throw new ApiException("Missing the required parameter 'columnIndex' when calling cellsDeleteWorksheetColumns(Async)");
        }
        
        // verify the required parameter 'columns' is set
        if (columns == null) {
            throw new ApiException("Missing the required parameter 'columns' when calling cellsDeleteWorksheetColumns(Async)");
        }
        
        // verify the required parameter 'updateReference' is set
        if (updateReference == null) {
            throw new ApiException("Missing the required parameter 'updateReference' when calling cellsDeleteWorksheetColumns(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsDeleteWorksheetColumnsCall(name, sheetName, columnIndex, columns, updateReference, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete worksheet columns.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param columnIndex The column index. (required)
     * @param columns The columns. (required)
     * @param updateReference The update reference. (required)
     * @param folder The workbook folder. (optional)
     * @return ColumnsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ColumnsResponse cellsDeleteWorksheetColumns(String name, String sheetName, Integer columnIndex, Integer columns, Boolean updateReference, String folder) throws ApiException {
        ApiResponse<ColumnsResponse> resp = cellsDeleteWorksheetColumnsWithHttpInfo(name, sheetName, columnIndex, columns, updateReference, folder);
        return resp.getData();
    }

    /**
     * Delete worksheet columns.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param columnIndex The column index. (required)
     * @param columns The columns. (required)
     * @param updateReference The update reference. (required)
     * @param folder The workbook folder. (optional)
     * @return ApiResponse&lt;ColumnsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ColumnsResponse> cellsDeleteWorksheetColumnsWithHttpInfo(String name, String sheetName, Integer columnIndex, Integer columns, Boolean updateReference, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsDeleteWorksheetColumnsValidateBeforeCall(name, sheetName, columnIndex, columns, updateReference, folder, null, null);
        Type localVarReturnType = new TypeToken<ColumnsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete worksheet columns. (asynchronously)
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param columnIndex The column index. (required)
     * @param columns The columns. (required)
     * @param updateReference The update reference. (required)
     * @param folder The workbook folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsDeleteWorksheetColumnsAsync(String name, String sheetName, Integer columnIndex, Integer columns, Boolean updateReference, String folder, final ApiCallback<ColumnsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsDeleteWorksheetColumnsValidateBeforeCall(name, sheetName, columnIndex, columns, updateReference, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ColumnsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsDeleteWorksheetRow
     * @param name The workbook name. (required)
     * @param sheetName The worksheet bame. (required)
     * @param rowIndex The row index. (required)
     * @param folder The document folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsDeleteWorksheetRowCall(String name, String sheetName, Integer rowIndex, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/rows/{rowIndex}"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()))
            .replaceAll("\\{" + "rowIndex" + "\\}", apiClient.escapeString(rowIndex.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsDeleteWorksheetRowValidateBeforeCall(String name, String sheetName, Integer rowIndex, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsDeleteWorksheetRow(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsDeleteWorksheetRow(Async)");
        }
        
        // verify the required parameter 'rowIndex' is set
        if (rowIndex == null) {
            throw new ApiException("Missing the required parameter 'rowIndex' when calling cellsDeleteWorksheetRow(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsDeleteWorksheetRowCall(name, sheetName, rowIndex, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete worksheet row.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet bame. (required)
     * @param rowIndex The row index. (required)
     * @param folder The document folder. (optional)
     * @return SaaSposeResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SaaSposeResponse cellsDeleteWorksheetRow(String name, String sheetName, Integer rowIndex, String folder) throws ApiException {
        ApiResponse<SaaSposeResponse> resp = cellsDeleteWorksheetRowWithHttpInfo(name, sheetName, rowIndex, folder);
        return resp.getData();
    }

    /**
     * Delete worksheet row.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet bame. (required)
     * @param rowIndex The row index. (required)
     * @param folder The document folder. (optional)
     * @return ApiResponse&lt;SaaSposeResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SaaSposeResponse> cellsDeleteWorksheetRowWithHttpInfo(String name, String sheetName, Integer rowIndex, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsDeleteWorksheetRowValidateBeforeCall(name, sheetName, rowIndex, folder, null, null);
        Type localVarReturnType = new TypeToken<SaaSposeResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete worksheet row. (asynchronously)
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet bame. (required)
     * @param rowIndex The row index. (required)
     * @param folder The document folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsDeleteWorksheetRowAsync(String name, String sheetName, Integer rowIndex, String folder, final ApiCallback<SaaSposeResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsDeleteWorksheetRowValidateBeforeCall(name, sheetName, rowIndex, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SaaSposeResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsDeleteWorksheetRows
     * @param name The workbook name. (required)
     * @param sheetName The worksheet bame. (required)
     * @param startrow The begin row index to be operated. (required)
     * @param totalRows Number of rows to be operated. (optional, default to 1)
     * @param updateReference Indicates if update references in other worksheets. (optional, default to true)
     * @param folder The document folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsDeleteWorksheetRowsCall(String name, String sheetName, Integer startrow, Integer totalRows, Boolean updateReference, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/rows"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (startrow != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "startrow", startrow));
        if (totalRows != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "totalRows", totalRows));
        if (updateReference != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "updateReference", updateReference));
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsDeleteWorksheetRowsValidateBeforeCall(String name, String sheetName, Integer startrow, Integer totalRows, Boolean updateReference, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsDeleteWorksheetRows(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsDeleteWorksheetRows(Async)");
        }
        
        // verify the required parameter 'startrow' is set
        if (startrow == null) {
            throw new ApiException("Missing the required parameter 'startrow' when calling cellsDeleteWorksheetRows(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsDeleteWorksheetRowsCall(name, sheetName, startrow, totalRows, updateReference, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete several worksheet rows.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet bame. (required)
     * @param startrow The begin row index to be operated. (required)
     * @param totalRows Number of rows to be operated. (optional, default to 1)
     * @param updateReference Indicates if update references in other worksheets. (optional, default to true)
     * @param folder The document folder. (optional)
     * @return SaaSposeResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SaaSposeResponse cellsDeleteWorksheetRows(String name, String sheetName, Integer startrow, Integer totalRows, Boolean updateReference, String folder) throws ApiException {
        ApiResponse<SaaSposeResponse> resp = cellsDeleteWorksheetRowsWithHttpInfo(name, sheetName, startrow, totalRows, updateReference, folder);
        return resp.getData();
    }

    /**
     * Delete several worksheet rows.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet bame. (required)
     * @param startrow The begin row index to be operated. (required)
     * @param totalRows Number of rows to be operated. (optional, default to 1)
     * @param updateReference Indicates if update references in other worksheets. (optional, default to true)
     * @param folder The document folder. (optional)
     * @return ApiResponse&lt;SaaSposeResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SaaSposeResponse> cellsDeleteWorksheetRowsWithHttpInfo(String name, String sheetName, Integer startrow, Integer totalRows, Boolean updateReference, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsDeleteWorksheetRowsValidateBeforeCall(name, sheetName, startrow, totalRows, updateReference, folder, null, null);
        Type localVarReturnType = new TypeToken<SaaSposeResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete several worksheet rows. (asynchronously)
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet bame. (required)
     * @param startrow The begin row index to be operated. (required)
     * @param totalRows Number of rows to be operated. (optional, default to 1)
     * @param updateReference Indicates if update references in other worksheets. (optional, default to true)
     * @param folder The document folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsDeleteWorksheetRowsAsync(String name, String sheetName, Integer startrow, Integer totalRows, Boolean updateReference, String folder, final ApiCallback<SaaSposeResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsDeleteWorksheetRowsValidateBeforeCall(name, sheetName, startrow, totalRows, updateReference, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SaaSposeResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsGetWorksheetCell
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param cellOrMethodName The cell&#39;s or method name. (Method name like firstcell, endcell etc.) (required)
     * @param folder Document&#39;s folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetCellCall(String name, String sheetName, String cellOrMethodName, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/{cellOrMethodName}"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()))
            .replaceAll("\\{" + "cellOrMethodName" + "\\}", apiClient.escapeString(cellOrMethodName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsGetWorksheetCellValidateBeforeCall(String name, String sheetName, String cellOrMethodName, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsGetWorksheetCell(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsGetWorksheetCell(Async)");
        }
        
        // verify the required parameter 'cellOrMethodName' is set
        if (cellOrMethodName == null) {
            throw new ApiException("Missing the required parameter 'cellOrMethodName' when calling cellsGetWorksheetCell(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsGetWorksheetCellCall(name, sheetName, cellOrMethodName, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read cell data by cell&#39;s name.
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param cellOrMethodName The cell&#39;s or method name. (Method name like firstcell, endcell etc.) (required)
     * @param folder Document&#39;s folder. (optional)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File cellsGetWorksheetCell(String name, String sheetName, String cellOrMethodName, String folder) throws ApiException {
        ApiResponse<File> resp = cellsGetWorksheetCellWithHttpInfo(name, sheetName, cellOrMethodName, folder);
        return resp.getData();
    }

    /**
     * Read cell data by cell&#39;s name.
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param cellOrMethodName The cell&#39;s or method name. (Method name like firstcell, endcell etc.) (required)
     * @param folder Document&#39;s folder. (optional)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> cellsGetWorksheetCellWithHttpInfo(String name, String sheetName, String cellOrMethodName, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsGetWorksheetCellValidateBeforeCall(name, sheetName, cellOrMethodName, folder, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read cell data by cell&#39;s name. (asynchronously)
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param cellOrMethodName The cell&#39;s or method name. (Method name like firstcell, endcell etc.) (required)
     * @param folder Document&#39;s folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetCellAsync(String name, String sheetName, String cellOrMethodName, String folder, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsGetWorksheetCellValidateBeforeCall(name, sheetName, cellOrMethodName, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsGetWorksheetCellStyle
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param cellName Cell&#39;s name. (required)
     * @param folder Document&#39;s folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetCellStyleCall(String name, String sheetName, String cellName, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/{cellName}/style"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()))
            .replaceAll("\\{" + "cellName" + "\\}", apiClient.escapeString(cellName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsGetWorksheetCellStyleValidateBeforeCall(String name, String sheetName, String cellName, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsGetWorksheetCellStyle(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsGetWorksheetCellStyle(Async)");
        }
        
        // verify the required parameter 'cellName' is set
        if (cellName == null) {
            throw new ApiException("Missing the required parameter 'cellName' when calling cellsGetWorksheetCellStyle(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsGetWorksheetCellStyleCall(name, sheetName, cellName, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read cell&#39;s style info.
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param cellName Cell&#39;s name. (required)
     * @param folder Document&#39;s folder. (optional)
     * @return StyleResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StyleResponse cellsGetWorksheetCellStyle(String name, String sheetName, String cellName, String folder) throws ApiException {
        ApiResponse<StyleResponse> resp = cellsGetWorksheetCellStyleWithHttpInfo(name, sheetName, cellName, folder);
        return resp.getData();
    }

    /**
     * Read cell&#39;s style info.
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param cellName Cell&#39;s name. (required)
     * @param folder Document&#39;s folder. (optional)
     * @return ApiResponse&lt;StyleResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StyleResponse> cellsGetWorksheetCellStyleWithHttpInfo(String name, String sheetName, String cellName, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsGetWorksheetCellStyleValidateBeforeCall(name, sheetName, cellName, folder, null, null);
        Type localVarReturnType = new TypeToken<StyleResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read cell&#39;s style info. (asynchronously)
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param cellName Cell&#39;s name. (required)
     * @param folder Document&#39;s folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetCellStyleAsync(String name, String sheetName, String cellName, String folder, final ApiCallback<StyleResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsGetWorksheetCellStyleValidateBeforeCall(name, sheetName, cellName, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StyleResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsGetWorksheetCells
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param offest Begginig offset. (optional, default to 0)
     * @param count Maximum amount of cells in the response. (optional, default to 0)
     * @param folder Document&#39;s folder name. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetCellsCall(String name, String sheetName, Integer offest, Integer count, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (offest != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offest", offest));
        if (count != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "count", count));
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsGetWorksheetCellsValidateBeforeCall(String name, String sheetName, Integer offest, Integer count, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsGetWorksheetCells(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsGetWorksheetCells(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsGetWorksheetCellsCall(name, sheetName, offest, count, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get cells info.
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param offest Begginig offset. (optional, default to 0)
     * @param count Maximum amount of cells in the response. (optional, default to 0)
     * @param folder Document&#39;s folder name. (optional)
     * @return CellsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CellsResponse cellsGetWorksheetCells(String name, String sheetName, Integer offest, Integer count, String folder) throws ApiException {
        ApiResponse<CellsResponse> resp = cellsGetWorksheetCellsWithHttpInfo(name, sheetName, offest, count, folder);
        return resp.getData();
    }

    /**
     * Get cells info.
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param offest Begginig offset. (optional, default to 0)
     * @param count Maximum amount of cells in the response. (optional, default to 0)
     * @param folder Document&#39;s folder name. (optional)
     * @return ApiResponse&lt;CellsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CellsResponse> cellsGetWorksheetCellsWithHttpInfo(String name, String sheetName, Integer offest, Integer count, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsGetWorksheetCellsValidateBeforeCall(name, sheetName, offest, count, folder, null, null);
        Type localVarReturnType = new TypeToken<CellsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get cells info. (asynchronously)
     * 
     * @param name Document name. (required)
     * @param sheetName Worksheet name. (required)
     * @param offest Begginig offset. (optional, default to 0)
     * @param count Maximum amount of cells in the response. (optional, default to 0)
     * @param folder Document&#39;s folder name. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetCellsAsync(String name, String sheetName, Integer offest, Integer count, String folder, final ApiCallback<CellsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsGetWorksheetCellsValidateBeforeCall(name, sheetName, offest, count, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CellsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsGetWorksheetColumn
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param columnIndex The column index. (required)
     * @param folder The workbook folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetColumnCall(String name, String sheetName, Integer columnIndex, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/columns/{columnIndex}"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()))
            .replaceAll("\\{" + "columnIndex" + "\\}", apiClient.escapeString(columnIndex.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsGetWorksheetColumnValidateBeforeCall(String name, String sheetName, Integer columnIndex, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsGetWorksheetColumn(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsGetWorksheetColumn(Async)");
        }
        
        // verify the required parameter 'columnIndex' is set
        if (columnIndex == null) {
            throw new ApiException("Missing the required parameter 'columnIndex' when calling cellsGetWorksheetColumn(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsGetWorksheetColumnCall(name, sheetName, columnIndex, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read worksheet column data by column&#39;s index.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param columnIndex The column index. (required)
     * @param folder The workbook folder. (optional)
     * @return ColumnResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ColumnResponse cellsGetWorksheetColumn(String name, String sheetName, Integer columnIndex, String folder) throws ApiException {
        ApiResponse<ColumnResponse> resp = cellsGetWorksheetColumnWithHttpInfo(name, sheetName, columnIndex, folder);
        return resp.getData();
    }

    /**
     * Read worksheet column data by column&#39;s index.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param columnIndex The column index. (required)
     * @param folder The workbook folder. (optional)
     * @return ApiResponse&lt;ColumnResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ColumnResponse> cellsGetWorksheetColumnWithHttpInfo(String name, String sheetName, Integer columnIndex, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsGetWorksheetColumnValidateBeforeCall(name, sheetName, columnIndex, folder, null, null);
        Type localVarReturnType = new TypeToken<ColumnResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read worksheet column data by column&#39;s index. (asynchronously)
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param columnIndex The column index. (required)
     * @param folder The workbook folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetColumnAsync(String name, String sheetName, Integer columnIndex, String folder, final ApiCallback<ColumnResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsGetWorksheetColumnValidateBeforeCall(name, sheetName, columnIndex, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ColumnResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsGetWorksheetColumns
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param folder The workdook folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetColumnsCall(String name, String sheetName, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/columns"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsGetWorksheetColumnsValidateBeforeCall(String name, String sheetName, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsGetWorksheetColumns(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsGetWorksheetColumns(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsGetWorksheetColumnsCall(name, sheetName, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read worksheet columns info.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param folder The workdook folder. (optional)
     * @return ColumnsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ColumnsResponse cellsGetWorksheetColumns(String name, String sheetName, String folder) throws ApiException {
        ApiResponse<ColumnsResponse> resp = cellsGetWorksheetColumnsWithHttpInfo(name, sheetName, folder);
        return resp.getData();
    }

    /**
     * Read worksheet columns info.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param folder The workdook folder. (optional)
     * @return ApiResponse&lt;ColumnsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ColumnsResponse> cellsGetWorksheetColumnsWithHttpInfo(String name, String sheetName, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsGetWorksheetColumnsValidateBeforeCall(name, sheetName, folder, null, null);
        Type localVarReturnType = new TypeToken<ColumnsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read worksheet columns info. (asynchronously)
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param folder The workdook folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetColumnsAsync(String name, String sheetName, String folder, final ApiCallback<ColumnsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsGetWorksheetColumnsValidateBeforeCall(name, sheetName, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ColumnsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsGetWorksheetRow
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param rowIndex The row index. (required)
     * @param folder The workbook folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetRowCall(String name, String sheetName, Integer rowIndex, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/rows/{rowIndex}"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()))
            .replaceAll("\\{" + "rowIndex" + "\\}", apiClient.escapeString(rowIndex.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsGetWorksheetRowValidateBeforeCall(String name, String sheetName, Integer rowIndex, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsGetWorksheetRow(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsGetWorksheetRow(Async)");
        }
        
        // verify the required parameter 'rowIndex' is set
        if (rowIndex == null) {
            throw new ApiException("Missing the required parameter 'rowIndex' when calling cellsGetWorksheetRow(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsGetWorksheetRowCall(name, sheetName, rowIndex, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read worksheet row data by row&#39;s index.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param rowIndex The row index. (required)
     * @param folder The workbook folder. (optional)
     * @return RowResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RowResponse cellsGetWorksheetRow(String name, String sheetName, Integer rowIndex, String folder) throws ApiException {
        ApiResponse<RowResponse> resp = cellsGetWorksheetRowWithHttpInfo(name, sheetName, rowIndex, folder);
        return resp.getData();
    }

    /**
     * Read worksheet row data by row&#39;s index.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param rowIndex The row index. (required)
     * @param folder The workbook folder. (optional)
     * @return ApiResponse&lt;RowResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RowResponse> cellsGetWorksheetRowWithHttpInfo(String name, String sheetName, Integer rowIndex, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsGetWorksheetRowValidateBeforeCall(name, sheetName, rowIndex, folder, null, null);
        Type localVarReturnType = new TypeToken<RowResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read worksheet row data by row&#39;s index. (asynchronously)
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param rowIndex The row index. (required)
     * @param folder The workbook folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetRowAsync(String name, String sheetName, Integer rowIndex, String folder, final ApiCallback<RowResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsGetWorksheetRowValidateBeforeCall(name, sheetName, rowIndex, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RowResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsGetWorksheetRows
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param folder The workdook folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetRowsCall(String name, String sheetName, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/rows"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsGetWorksheetRowsValidateBeforeCall(String name, String sheetName, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsGetWorksheetRows(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsGetWorksheetRows(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsGetWorksheetRowsCall(name, sheetName, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read worksheet rows info.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param folder The workdook folder. (optional)
     * @return RowsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RowsResponse cellsGetWorksheetRows(String name, String sheetName, String folder) throws ApiException {
        ApiResponse<RowsResponse> resp = cellsGetWorksheetRowsWithHttpInfo(name, sheetName, folder);
        return resp.getData();
    }

    /**
     * Read worksheet rows info.
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param folder The workdook folder. (optional)
     * @return ApiResponse&lt;RowsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RowsResponse> cellsGetWorksheetRowsWithHttpInfo(String name, String sheetName, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsGetWorksheetRowsValidateBeforeCall(name, sheetName, folder, null, null);
        Type localVarReturnType = new TypeToken<RowsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read worksheet rows info. (asynchronously)
     * 
     * @param name The workbook name. (required)
     * @param sheetName The worksheet name. (required)
     * @param folder The workdook folder. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsGetWorksheetRowsAsync(String name, String sheetName, String folder, final ApiCallback<RowsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsGetWorksheetRowsValidateBeforeCall(name, sheetName, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RowsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsPostCellCalculate
     * @param name  (required)
     * @param sheetName  (required)
     * @param cellName  (required)
     * @param options  (optional)
     * @param folder  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsPostCellCalculateCall(String name, String sheetName, String cellName, CalculationOptions options, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = options;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/{cellName}/calculate"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()))
            .replaceAll("\\{" + "cellName" + "\\}", apiClient.escapeString(cellName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsPostCellCalculateValidateBeforeCall(String name, String sheetName, String cellName, CalculationOptions options, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsPostCellCalculate(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsPostCellCalculate(Async)");
        }
        
        // verify the required parameter 'cellName' is set
        if (cellName == null) {
            throw new ApiException("Missing the required parameter 'cellName' when calling cellsPostCellCalculate(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsPostCellCalculateCall(name, sheetName, cellName, options, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cell calculate formula
     * 
     * @param name  (required)
     * @param sheetName  (required)
     * @param cellName  (required)
     * @param options  (optional)
     * @param folder  (optional)
     * @return SaaSposeResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SaaSposeResponse cellsPostCellCalculate(String name, String sheetName, String cellName, CalculationOptions options, String folder) throws ApiException {
        ApiResponse<SaaSposeResponse> resp = cellsPostCellCalculateWithHttpInfo(name, sheetName, cellName, options, folder);
        return resp.getData();
    }

    /**
     * Cell calculate formula
     * 
     * @param name  (required)
     * @param sheetName  (required)
     * @param cellName  (required)
     * @param options  (optional)
     * @param folder  (optional)
     * @return ApiResponse&lt;SaaSposeResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SaaSposeResponse> cellsPostCellCalculateWithHttpInfo(String name, String sheetName, String cellName, CalculationOptions options, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsPostCellCalculateValidateBeforeCall(name, sheetName, cellName, options, folder, null, null);
        Type localVarReturnType = new TypeToken<SaaSposeResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cell calculate formula (asynchronously)
     * 
     * @param name  (required)
     * @param sheetName  (required)
     * @param cellName  (required)
     * @param options  (optional)
     * @param folder  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsPostCellCalculateAsync(String name, String sheetName, String cellName, CalculationOptions options, String folder, final ApiCallback<SaaSposeResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsPostCellCalculateValidateBeforeCall(name, sheetName, cellName, options, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SaaSposeResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsPostCellCharacters
     * @param name  (required)
     * @param sheetName  (required)
     * @param cellName  (required)
     * @param options  (optional)
     * @param folder  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsPostCellCharactersCall(String name, String sheetName, String cellName, List<FontSetting> options, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = options;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/{cellName}/characters"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()))
            .replaceAll("\\{" + "cellName" + "\\}", apiClient.escapeString(cellName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cellsPostCellCharactersValidateBeforeCall(String name, String sheetName, String cellName, List<FontSetting> options, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling cellsPostCellCharacters(Async)");
        }
        
        // verify the required parameter 'sheetName' is set
        if (sheetName == null) {
            throw new ApiException("Missing the required parameter 'sheetName' when calling cellsPostCellCharacters(Async)");
        }
        
        // verify the required parameter 'cellName' is set
        if (cellName == null) {
            throw new ApiException("Missing the required parameter 'cellName' when calling cellsPostCellCharacters(Async)");
        }
        
        
        com.squareup.okhttp.Call call = cellsPostCellCharactersCall(name, sheetName, cellName, options, folder, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Set cell characters 
     * 
     * @param name  (required)
     * @param sheetName  (required)
     * @param cellName  (required)
     * @param options  (optional)
     * @param folder  (optional)
     * @return SaaSposeResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SaaSposeResponse cellsPostCellCharacters(String name, String sheetName, String cellName, List<FontSetting> options, String folder) throws ApiException {
        ApiResponse<SaaSposeResponse> resp = cellsPostCellCharactersWithHttpInfo(name, sheetName, cellName, options, folder);
        return resp.getData();
    }

    /**
     * Set cell characters 
     * 
     * @param name  (required)
     * @param sheetName  (required)
     * @param cellName  (required)
     * @param options  (optional)
     * @param folder  (optional)
     * @return ApiResponse&lt;SaaSposeResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SaaSposeResponse> cellsPostCellCharactersWithHttpInfo(String name, String sheetName, String cellName, List<FontSetting> options, String folder) throws ApiException {
        com.squareup.okhttp.Call call = cellsPostCellCharactersValidateBeforeCall(name, sheetName, cellName, options, folder, null, null);
        Type localVarReturnType = new TypeToken<SaaSposeResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Set cell characters  (asynchronously)
     * 
     * @param name  (required)
     * @param sheetName  (required)
     * @param cellName  (required)
     * @param options  (optional)
     * @param folder  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cellsPostCellCharactersAsync(String name, String sheetName, String cellName, List<FontSetting> options, String folder, final ApiCallback<SaaSposeResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cellsPostCellCharactersValidateBeforeCall(name, sheetName, cellName, options, folder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SaaSposeResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cellsPostClearContents
     * @param name Workbook name. (required)
     * @param sheetName Worksheet name. (required)
     * @param range The range. (optional)
     * @param startRow The start row. (optional)
     * @param startColumn The start column. (optional)
     * @param endRow The end row. (optional)
     * @param endColumn The end column. (optional)
     * @param folder The workbook folder. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cellsPostClearContentsCall(String name, String sheetName, String range, Integer startRow, Integer startColumn, Integer endRow, Integer endColumn, String folder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/cells/{name}/worksheets/{sheetName}/cells/clearcontents"
            .replaceAll("\\{" + "name" + "\\}", apiClient.escapeString(name.toString()))
            .replaceAll("\\{" + "sheetName" + "\\}", apiClient.escapeString(sheetName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (range != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "range", range));
        if (startRow != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "startRow", startRow));
        if (startColumn != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "startColumn", startColumn));
        if (endRow != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "endRow", endRow));
        if (endColumn != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "endColumn", endColumn));
        if (folder != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "folder", folder));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
[...]
